<div class="body">

  <table class="responsive-table striped">
        <thead>
          <tr>
              <th data-field="#">#</th>
              <th data-field="name">Name</th>
              <th data-field="location">Location</th>
              <th data-field="date">Date</th>
              <th data-field="purchase">Purchase</th>
              <th data-field="status">Status</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>1</td>
            <td>Masked Party</td>
            <td>Sound Bar</td>
            <td>12/22/2017</td>
            <td>#1500</td>
            <td>
              <div class="switch">
                  <label>
                    Off
                    <input type="checkbox">
                    <span class="lever"></span>
                    On
                  </label>
                </div>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>Masked Party</td>
            <td>Sound Bar</td>
            <td>12/22/2017</td>
            <td>#1500</td>
            <td>
              <div class="switch">
                  <label>
                    Off
                    <input type="checkbox">
                    <span class="lever"></span>
                    On
                  </label>
                </div>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>Masked Party</td>
            <td>Sound Bar</td>
            <td>12/22/2017</td>
            <td>#1500</td>
            <td>
              <div class="switch">
                  <label>
                    Off
                    <input type="checkbox">
                    <span class="lever"></span>
                    On
                  </label>
                </div>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>Masked Party</td>
            <td>Sound Bar</td>
            <td>12/22/2017</td>
            <td>#1500</td>
            <td>
              <div class="switch">
                  <label>
                    Off
                    <input type="checkbox">
                    <span class="lever"></span>
                    On
                  </label>
                </div>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>Masked Party</td>
            <td>Sound Bar</td>
            <td>12/22/2017</td>
            <td>#1500</td>
            <td>
              <div class="switch">
                  <label>
                    Off
                    <input type="checkbox">
                    <span class="lever"></span>
                    On
                  </label>
                </div>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>Masked Party</td>
            <td>Sound Bar</td>
            <td>12/22/2017</td>
            <td>#1500</td>
            <td>
              <div class="switch">
                  <label>
                    Off
                    <input type="checkbox">
                    <span class="lever"></span>
                    On
                  </label>
                </div>
            </td>
          </tr>
        </tbody>
  </table>

</div>
