<div class="loginBody" id='loginBody' [ngStyle]="{'background-image': 'url(' + image + ')'}">
  <div class="row">
    <div class="col m2 s1"></div>
    <div class="form col m4 s10 row" align="center">
    	<form (submit)="onLoginSubmit()" class="row" id="form" novalidate="">
    		<h4>Login</h4>
            <div class="input-field col s12">
              <input placeholder="E-mail" id="email" type="email" class="validate" name="email" [(ngModel)]="email">
            </div>
            <div class="input-field col s12">
              <input placeholder='Password' id="password" type="password" class="validate" name="password" [(ngModel)]="password">
            </div>
            <button type="submit" name="button" class="btn waves-effect waves-light" [disabled]='isDisabled'>Login</button>
            <div class="progress" *ngIf='isDisabled'>
                <div class="indeterminate"></div>
            </div>
            <h5 class="small">Don't have an account? <a routerLink='/register'>Register</a></h5>
    	</form>
    </div>
    <br><br><br><br>
    <div class="col m4 s1 transparent">
      <div class="right" align='right'>
        <h4>Don't have an <br> account?</h4>
        <a routerLink='/register'><button style="background-color: #25252E !important" type="button" name="button" class="transparent-btn btn">Register</button></a>
        <p>Read the terms and conditions for this platform <br><a routerLink='/#'>here</a> </p>
      </div>
    </div>
    <div class="col m2 s1"></div>
  </div>

</div>
