html, body, app-root , router-outlet, .body{
  min-width: 100% !important;
  min-height: 100vh !important;
}

@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/Lato-Light.ttf');
}

@font-face {
    font-family: 'sassoonSans';
    src: url('/assets/fonts/Sassoon Sans Bold.ttf');
}

body {
  /*position: relative;*/
  margin: 0;
  min-height: 100% !important;
  width: 100% !important;
  bottom: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

footer {
  /*position: absolute;*/
  right: 0;
  bottom: 0;
  left: 0;
}

.primary-base{
  background-color: #24242e !important;
  color: #ffffff !important;
}

.primary-base-text{
  color: #24242e !important;
}

.primary-light{
  background-color: #4c4c57 !important;
  color: #ffffff !important;
}

.primary-light-text{
  color: #4c4c57 !important;
}

.primary-dark{
  background-color: #000004 !important;
  color: #ffffff !important;
}

.primary-dark-text{
  color: #000004 !important;
}

.secondary-base{
  background-color: #271f6a !important;
  color: #ffffff !important;
}

.secondary-base-text{
  color: #271f6a !important;
}

.secondary-light{
  background-color: #574799 !important;
  color: #ffffff !important;
}

.secondary-light-text{
  color: #574799 !important;
}

.secondary-dark{
  background-color: #00003f !important;
  color: #ffffff !important;
}

.secondary-dark-text{
  color: #00003f !important;
}

/*.col, .row{
  margin: auto !important;
  align-items: center !important;
  text-align: center !important;
}*/

button .getStarted{
  margin: auto;
  align-items: center;
}

.brand-logo{
  font-family: 'sassoonSans';
  color: #24242e !important;
}

a{
  color: #24242e !important;
  cursor: pointer !important;
}

h1, h2, h3, h4, h5, h6, p{
  font-family: 'Lato' !important;
}

li .active, li .active i {
  background-color: #24242e;
  color: #ffffff !important;
}

.fa{
  font-weight: lighter !important;
  font-size: 1.5rem !important;
}

.side-nav li > a:hover {
  background-color: #24242e;
  color: #ffffff !important;
}

.side-nav li > a:hover i{
  color: #ffffff;
}

::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #4c4c57;
}

.btn{
  text-transform: lowercase !important;
  padding: 0 .7rem !important;
}

div.preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background-color: #f7f7f7;
}

/*.preloader{  
  background-position:center center; 
  background-repeat:no-repeat; 
  background-image:url(assets/img/ios.svg);
}
*/
@-webkit-keyframes loader {
    0%, 10%, 100% {
        width: 80px;
        height: 80px;
    }
    65% {
        width: 150px;
        height: 150px;
    }
}

@keyframes loader {
    0%, 10%, 100% {
        width: 80px;
        height: 80px;
    }
    65% {
        width: 150px;
        height: 150px;
    }
}

.loader {
  position: absolute;
  top: 53%;
  left: 50%;
  width: 80px;
  height: 80px;
  -webkit-transform: translate(-50%, -50%) rotate(45deg) translate3d(0, 0, 0);
  transform: translate(-50%, -50%) rotate(45deg) translate3d(0, 0, 0);
  -webkit-animation: loader 1.2s infinite ease-in-out;
  animation: loader 1.2s infinite ease-in-out;
}

.loader span {
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-animation: loaderBlock 1.2s infinite ease-in-out both;
  animation: loaderBlock 1.2s infinite ease-in-out both;
  background: #24242e;
}

.loader span:nth-child(1) {
  top: 0;
  left: 0;
}

.loader span:nth-child(2) {
  top: 0;
  right: 0;
  -webkit-animation: loaderBlockInverse 1.2s infinite ease-in-out both;
  animation: loaderBlockInverse 1.2s infinite ease-in-out both;
}

.loader span:nth-child(3) {
  bottom: 0;
  left: 0;
  -webkit-animation: loaderBlockInverse 1.2s infinite ease-in-out both;
  animation: loaderBlockInverse 1.2s infinite ease-in-out both;
}

.loader span:nth-child(4) {
  bottom: 0;
  right: 0;
}

.preloader .welcome {
  /*position: absolute;*/
  padding-top: 10% !important;
  /*left: 38%;*/
  margin: auto !important;
  align-items: center !important;
  text-align: center !important;
}

/*@media only screen and (max-width: 1030px) {
  .preloader .welcome {
    left: 30%;
  }
}

@media only screen and (max-width: 450px) {
  .preloader .welcome {
    left: 10%;
  }
}*/

*{
  font-weight: bold;
}