<div class="body row">
	<div class="row col s12 m4">
		<div class="col s12 m12 avatar">
			<img src="{{avatar}}" class="circle" style="width: 100px; height: 100px">
			<br>
			<h4>John Doe</h4>
			<p>@johndoe</p>
			<p>johndoe@mail.com</p>
		</div>
	</div>
	<div class="row col s12 m8">
		<h4 class="center-align">Update Account Details</h4>
		<div class="col s12 m12">
			<label>Fullname</label>
			<input type="text" value="John Doe">
		</div>
		<div class="col s12 m12">
			<label>Phone number</label>
			<input type="text" value="0810 123 4567">
		</div>
		<div class="col s12 m12">
			<label>Email</label>
			<input type="text" value="johndoe@mail.com">
		</div>
		<div class="col s12 m12">
			<label>Current password</label>
			<input type="password" value="********">
		</div>
		<div class="col s12 m12">
			<label>New password</label>
			<input type="password" value="********">
		</div>
		<div class="col s12 m12 center-align">
			<button type="button" class="btn">Update Account</button>
		</div>
		
	</div>
</div>