<div class="body">
<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" routerLink='/index' class="brand-logo"><h4>Gatepass</h4></a>
    <ul class="right hide-on-med-and-down">
      <li><a routerLink='/#' routerLinkActive='active'>Events</a></li>
      <li><a routerLink='/#' routerLinkActive='active'>Profile</a></li>
      <li><a routerLink='/#' routerLinkActive='active'>Settings</a></li>
      <li><a routerLink='/login' routerLinkActive='active'>Create Event</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a routerLink='/index' routerLinkActive='active'>Home</a></li>
      <li><a routerLink='/#' routerLinkActive='active'>Events</a></li>
      <li><a routerLink='/#' routerLinkActive='active'>Profile</a></li>
      <li><a routerLink='/#' routerLinkActive='active'>Settings</a></li>
      <li><a routerLink='/login' routerLinkActive='active'>Create Event</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse white-text"><i class="fa fa-bars secondary-light-text"></i></a>
  </div>
</nav>

  <router-outlet></router-outlet>

<footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
        &copy; Company 2017.
      </div>
    </div>
</footer>
</div>
  <!-- <a routerLink='/dashboard' routerLinkActive='active'>Dashboard</a> -->


  <!-- <div class="slider" id='slider' *ngFor='let image of sliderImages'>
  <img src="{{image}}" id="sliderImage">
  </div> -->
