<div class="body">

  <table class="striped">
        <thead>
          <tr>
              <th data-field="#"></th>
              <th data-field="name">Name</th>
              <th data-field="location">Location</th>
              <th data-field="date">Date</th>
              <th data-field="purchase">Purchase</th>
              <th data-field="status">Status</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngIf='noEvent'><td colspan="6"><h2 align=center>You have no events at this time</h2></td></tr>
          <tr *ngFor="let event of events; let i = index">
            <td>{{i+1}}</td>
            <td>{{event.name}}</td>
            <td>{{event.location}}</td>
            <td>{{event.date}}</td>
            <td>{{event.price}}</td>
            <td>
              <div class="switch">
                  <label>Off<input type="checkbox" [checked]="event.is_online" (change)='changeStatus()'><span class="lever"></span>On</label>
                </div>
            </td>
          </tr>
        </tbody>
  </table>

</div>
