<div class="body">

  <table class="highlight">
        <thead>
          <tr>
              <th data-field="#"></th>
              <th data-field="name">Name</th>
              <th data-field="location">Location</th>
              <th data-field="date">Date</th>
              <th data-field="purchase">Ticket Sales</th>
              <th data-field="status">Status</th>
          </tr>
        </thead>

        <tbody *ngIf='events'>
            <tr *ngIf='noEvent'><td colspan="6"><h4 align=center>Oops.. you have no events at this time ☹</h4></td></tr>
            <tr *ngFor="let event of events; let i = index">
              <td>{{i+1}}</td>
              <td>{{event.name}}</td>
              <td>{{event.location}}</td>
              <td>{{event.date}}</td>
              <td>{{event.sold}}  <a href="#ticketDetailsModal" class="modal-trigger green-text" (click)='passTicketDetails(event)'>View Details</a></td>

              <td *ngIf='!event.disabled'>
                <div class="switch">
                    <label>Off<input type="checkbox" [checked]="event.is_online" (change)='changeStatus(event)' value="{{event.is_online}}"  [disabled]='loading'><span class="lever"></span>On</label>
                </div>
              </td>
              <td class="red-text" *ngIf='event.disabled'>
                <a class="waves-effect waves-light btn modal-trigger white-text" href='#checkoutModal' (click)='passTotalPurchased(event)'>Checkout</a>
              </td>
            </tr>
        </tbody>
  </table>

  <br><br><br>
  <div *ngIf='preloader' align='center'>
    <h5>Loading events</h5>
    <div class="preloader-wrapper small active">
      <div class="spinner-layer">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>


    <!-- Checkout Modal -->
    <div id="checkoutModal" class="modal">
      <div class="modal-content">
        <h4 align='center' class="green-text">&#8358;{{checkoutValue}}</h4>
        <h5 align='center' class="grey-text">Your banks</h5>
        <p></p>
        <div *ngIf='!noBank'>
          <hr>
          <span *ngFor='let bank of myBanks; let i = index'>
            <input class="with-gap" id='{{i}}' type="radio" name="banks" [value]='bank.recepient_code' (change)="radioSelectChange(bank)">
            <label for="{{i}}">{{bank.bank_name}} {{bank.account_number}}</label>
            <hr>
          </span>
          <div class="col">
            <a class="waves-effect waves-light btn white-text" (click)='getPayed()'>Get Payed</a>
          </div>
        </div>

          <div class="col">
            <a class="modal-trigger" href="#addBankModal"><h5 class="grey-text">Add a new bank</h5></a>
          </div>
      </div>
    </div>
    <!-- Checkout Modal End -->

    <!-- OTP Modal -->
    <div id="otpModal" class="modal row" align="center">
      <div class="col m1 s1"></div>
      <div class="modal-content col m10 s10">
        <h4 align='center' class="grey-text">OTP</h4>
        <p class="grey-text">An OTP code has been sent to your registered phone number</p>
          <input class="" type="text" placeholder="OTP code" [(ngModel)]='otp'>
          <button type="button" name="button" class="btn waves-effect waves-light" (click)='sendOTP()' [disabled]='processingPayment'>Proceed</button>
      </div>
      <div class="col m1 s1"></div>
    </div>
    <!-- OTP Modal End -->

    <!-- Ticket Details Modal -->
    <div id="ticketDetailsModal" class="modal row" align="center">
      <h4>Ticket Details</h4>
      <ul>
        <li *ngFor="let t of eventTicketDetails"><h5>{{t}}</h5></li>
      </ul>
    </div>
    <!-- Ticket Details Modal End -->

    <!-- Add Bank Modal -->
    <div id="addBankModal" class="modal row" align="center">
      <div class="col m1 s1"></div>
      <div class="modal-content col m10 s10">
        <h4 align='center' class="grey-text">Add New Bank</h4>
          <div class="input-field col s12">
            <select #selectedBank>
              <option *ngFor='let bank of allBanks' [value]='bank.code'> {{bank.name}} </option>
            </select>
          </div>
          <div class="input-field col s12">
            <input class="" type="text" placeholder="Account Number" [(ngModel)]='accountNumber'>
          </div>
          <button type="button" name="button" class="btn waves-effect waves-light" (click)='addBank(selectedBank.value)' [disabled]='addingBank'>Add Bank</button>
          <br><br>
          <div class="preloader-wrapper small active" *ngIf='addingBank'>
            <div class="spinner-layer">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
      </div>
      <div class="col m1 s1"></div>
    </div>
    <!-- Add Bank Modal End -->


</div>
