.body{
  min-height: 80vh !important;
  padding: 70px;
}

#checkoutModal, #otpModal{
  width: 370px !important;
  min-height: 370px;
}

#addBankModal {
  height: 400px;
}

@media only screen and (max-width: 800px) {
  .body{
    min-height: 85vh !important;
    padding: 5px;
  }
}
