<div class="body">

  <table class="highlight">
        <thead>
          <tr>
              <th data-field="#"></th>
              <th data-field="name">Name</th>
              <th data-field="location">Location</th>
              <th data-field="date">Date</th>
              <th data-field="purchase">Ticket Sales</th>
              <th data-field="status">Status</th>
          </tr>
        </thead>

        <tbody *ngIf='events'>
          <tr *ngIf='noEvent'><td colspan="6"><h4 align=center>Oops.. you have no events at this time ☹</h4></td></tr>
            <tr *ngFor="let event of events; let i = index">
              <td>{{i+1}}</td>
              <td>{{event.name}}</td>
              <td>{{event.location}}</td>
              <td>{{event.date}}</td>
              <td>{{event.price}}</td>
              <td *ngIf='!event.disabled'>
                <div class="switch">
                    <label>Off<input type="checkbox" [checked]="event.is_online" (change)='changeStatus(event)' value="{{event.is_online}}"  [disabled]='loading'><span class="lever"></span>On</label>
                </div>
              </td>
              <td class="red-text" *ngIf='event.disabled'>Expired Event</td>
            </tr>
        </tbody>
  </table>
  <br><br><br>
  <div *ngIf='preloader' align='center'>
    <h5>Loading events</h5>
    <div class="preloader-wrapper small active">
      <div class="spinner-layer">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>

</div>
