<div class="row body">
  <div class="col m12 s12">
    <h5>Create Event</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <br>
  </div>

<!-- form starts here -->
  <div class="col m6 s12">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12 m6">
          <label for="event_name">Event Name</label>
          <input placeholder="Event Name" id="event_name" type="text" class="validate">
        </div>
        <div class="input-field col s12 m6">
          <label for="event_location">Event Location</label>
          <input placeholder='Event Location' id="event_location" type="text" class="validate">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m6">
          <label for="event_date">Date</label><br>
          <input id="event_date" type="date" class="validate datepicker">
        </div>
        <div class="input-field col s12 m6">
          <label for="event_time">Time</label><br>
          <input id="event_time" type="time" class="validate">
        </div>
      </div>
      <div class="row"><br>
        <div class="input-field col s12 m6">
          <label for="price">Price</label>
          <input placeholder="Price" id="price" type="text" class="validate">
        </div>
        <div class="input-field col s12 m6">
          <label for="event_location">Event Location</label>
          <input placeholder='Event Location' id="event_location" type="text" class="validate">
        </div>
      </div>
      <br><br>
      <h5>Ticket Details</h5><br>

      <!-- ticket type 1 -->
      <div class="row">
        <div class="input-field col s12 m4">
          <label for="ticket_name">Ticket Name</label>
          <input placeholder="e.g. Regular" id="price" type="text" class="validate">
        </div>
        <div class="input-field col s12 m4">
          <label for="ticket_price">Ticket Price</label>
          <input placeholder='ticket Price' id="ticket_price" type="text" class="validate">
        </div>
        <div class="input-field col s7 m3">
          <div class="upload-btn-wrapper">
            <button class="upload-btn">ticket image</button>
            <input type="file" name="myfile" />
          </div>
        </div>
        <div class='input-field col s5 m1'>
          <a class="btn-floating btn waves-effect waves-light"><i class="fa fa-plus"></i></a>
        </div>
      </div><br>
      <!-- ticket type 1 end-->

      <!-- ticket type 2 -->
      <div class="row">
        <div class="input-field col s12 m4">
          <label for="ticket_name">Ticket Name</label>
          <input placeholder="e.g. Regular" id="price" type="text" class="validate">
        </div>
        <div class="input-field col s12 m4">
          <label for="ticket_price">Ticket Price</label>
          <input placeholder='ticket Price' id="ticket_price" type="text" class="validate">
        </div>
        <div class="input-field col s7 m3">
          <div class="upload-btn-wrapper">
            <button class="upload-btn">ticket image</button>
            <input type="file" name="myfile" />
          </div>
        </div>
        <div class='input-field col s5 m1'>
          <a class="btn-floating btn waves-effect waves-light"><i class="fa fa-plus"></i></a>
        </div>
      </div><br>
      <!-- ticket type 2 end -->

      <!-- ticket type 3 -->
      <div class="row">
        <div class="input-field col s12 m4">
          <label for="ticket_name">Ticket Name</label>
          <input placeholder="e.g. Regular" id="price" type="text" class="validate">
        </div>
        <div class="input-field col s12 m4">
          <label for="ticket_price">Ticket Price</label>
          <input placeholder='ticket Price' id="ticket_price" type="text" class="validate">
        </div>
        <div class="input-field col s7 m3">
          <div class="upload-btn-wrapper">
            <button class="upload-btn">ticket image</button>
            <input type="file" name="myfile" />
          </div>
        </div>
        <div class='input-field col s5 m1'>
          <a class="btn-floating btn waves-effect waves-light"><i class="fa fa-plus"></i></a>
        </div>
      </div><br>
      <!-- ticket type 3 end -->

      <!-- ticket type 4 -->
      <div class="row">
        <div class="input-field col s12 m4">
          <label for="ticket_name">Ticket Name</label>
          <input placeholder="e.g. Regular" id="price" type="text" class="validate">
        </div>
        <div class="input-field col s12 m4">
          <label for="ticket_price">Ticket Price</label>
          <input placeholder='ticket Price' id="ticket_price" type="text" class="validate">
        </div>
        <div class="input-field col s7 m3">
          <div class="upload-btn-wrapper">
            <button class="upload-btn">ticket image</button>
            <input type="file" name="myfile" />
          </div>
        </div>
        <div class='input-field col s5 m1'>
          <a class="btn-floating btn waves-effect waves-light"><i class="fa fa-plus"></i></a>
        </div>
      </div><br>
      <!-- ticket type 4 end -->

      <br><br>
      <div class="row">
        <div class="file-field input-field col s12">
          <h5 align='center'>Design Image</h5>
          <div class="btn">
            <span>Upload</span>
            <input type="file">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
      </div>
      <br><br>
      <div class="row" align=center>
        <button type="button" name="button" class="btn">Create Event</button>
      </div>
      <br><br>
    </form>
  </div>
  <!-- form ends here -->



  <div class="col m6 s12">
    <agm-map [latitude]="position.latitude" [longitude]="position.longitude" [zoom]='17' [minZoom]='15'>
      <agm-marker [latitude]="position.latitude" [longitude]="position.longitude"></agm-marker>
    </agm-map>
  </div>


</div>
