#loginBody{
  height: 600px;
  width: 100%;
  padding-top: 65px;
  -webkit-filter: contrast(100%); /* Safari 6.0 - 9.0 */
  filter: contrast(100%);
  z-index: -500;
}


.form{
  background-color: #fff;
  height: 387px;
  margin: auto;
  margin-top: 450px;
  margin-bottom: 100px;
  padding-top: 30px;
  /*margin-left: 33%;*/
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.transparent{
  background-color: rgba(64, 64, 64, 0.5) !important;
  height: 300px;
  color: #ffffff;
}

.transparent-btn{
  background-color: rgba(255, 255, 255, 0.1) !important;
  border: 1px solid #fff;
  border-radius: 5px;
}

.small{
  display: none;
}

@media only screen and (max-width: 1200px) {
  loginBody{
    height: inherit;
    padding-top: 65px;
  }

  .form{
    background-color: #fff;
    height: 320px;
    margin: auto;
    margin-top: 450px;
    margin-bottom: 100px;
    /*margin-left: 33%;*/
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin: auto;
  }

  .transparent{
    display: none;
  }

  .small{
    display: block;
  }
}
