<div class="row body">
  <div class="col m12 s12">
    <h5>Create Event</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <br>
  </div>

<!-- form starts here -->
  <div class="col m6 s12">
    <form class="col s12" (submit)="createEvent(eventDate.value, eventTime.value)" class="row" id="form" novalidate="">
      <div class="row">
        <div class="input-field col s12 m6">
          <input placeholder="Event Name" id="event_name" type="text" class="validate" name="event_name" [(ngModel)]="event_name">
        </div>
        <div class="input-field col s12 m6">
          <input placeholder='Event Location' id="event_location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="validate" name="event_location" [(ngModel)]="event_location" #search [formControl]="searchControl">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m6">
          <input id="event_date" placeholder='Date' type="text" class="datepicker" #eventDate name="event_date" [(ngModel)]="event_date">
        </div>
        <div class="input-field col s12 m6">
          <input id="event_time" placeholder="Time" type="text" class="timepicker" #eventTime name="event_time" [(ngModel)]="event_time">
        </div>
      </div>
      <div class="row"><br>
        <div class="input-field col s12 m6">
          <input placeholder="Base Price" id="price" type="text" class="validate"  name="base_price" [(ngModel)]="base_price">
        </div>
      </div>
      <br><br>
      <h5>Ticket Details</h5><br>

      <!-- ticket type 1 -->
      <div class="row">
        <div class="input-field col s12 m4">
          <input placeholder="e.g. Regular" id="price" type="text" class="validate" name="ticket1_name" [(ngModel)]="ticket1_name" #ticket1Name>
        </div>
        <div class="input-field col s12 m4">
          <input placeholder='Ticket Price' id="ticket_price" type="text" class="validate" name="ticket1_price" [(ngModel)]="ticket1_price" #ticket1Price>
        </div>
        <div class="col s12 m4">
          <image-upload  [max]="1"  [url]="'https://api.imgur.com/3/upload'"  [headers]="[{header: 'Authorization', value: 'Client-ID aab3505f42b5d63'}]"
          buttonCaption="Ticket Image"  dropBoxMessage="Drop image here"  (onFileUploadFinish)="ticketImageUpload($event, ticket1Name.value, ticket1Price.value)" [extensions]="['jpeg','png','jpg']"></image-upload>
        </div>
      </div><br>
      <!-- ticket type 1 end-->

      <!-- ticket type 2 -->
      <div class="row">
        <div class="input-field col s12 m4">
          <input placeholder="e.g. VIP" id="price" type="text" class="validate" name="ticket2_name" [(ngModel)]="ticket2_name" #ticket2Name>
        </div>
        <div class="input-field col s12 m4">
          <input placeholder='Ticket Price' id="ticket_price" type="text" class="validate" name="ticket2_price" [(ngModel)]="ticket2_price" #ticket2Price>
        </div>
        <div class="col s12 m4">
          <image-upload  [max]="1"  [url]="'https://api.imgur.com/3/upload'"  [headers]="[{header: 'Authorization', value: 'Client-ID aab3505f42b5d63'}]"
          buttonCaption="Ticket Image"  dropBoxMessage="Drop image here"  (onFileUploadFinish)="ticketImageUpload($event, ticket2Name.value, ticket2Price.value)" [extensions]="['jpeg','png','jpg']"></image-upload>
        </div>
      </div><br>
      <!-- ticket type 2 end-->

      <!-- ticket type 3 -->
      <div class="row">
        <div class="input-field col s12 m4">
          <input placeholder="e.g. Table of 4" id="price" type="text" class="validate" name="ticket3_name" [(ngModel)]="ticket3_name" #ticket3Name>
        </div>
        <div class="input-field col s12 m4">
          <input placeholder='Ticket Price' id="ticket_price" type="text" class="validate" name="ticket3_price" [(ngModel)]="ticket3_price" #ticket3Price>
        </div>
        <div class="col s12 m4">
          <image-upload  [max]="1"  [url]="'https://api.imgur.com/3/upload'"  [headers]="[{header: 'Authorization', value: 'Client-ID aab3505f42b5d63'}]"
          buttonCaption="Ticket Image"  dropBoxMessage="Drop image here"  (onFileUploadFinish)="ticketImageUpload($event, ticket3Name.value, ticket3Price.value)" [extensions]="['jpeg','png','jpg']"></image-upload>
        </div>
      </div><br>
      <!-- ticket type 3 end-->

      <!-- ticket type 4 -->
      <div class="row">
        <div class="input-field col s12 m4">
          <input placeholder="e.g. Table of 6" id="price" type="text" class="validate" name="ticket4_name" [(ngModel)]="ticket4_name" #ticket4Name>
        </div>
        <div class="input-field col s12 m4">
          <input placeholder='Ticket Price' id="ticket_price" type="text" class="validate" name="ticket4_price" [(ngModel)]="ticket4_price" #ticket4Price>
        </div>
        <div class="col s12 m4">
          <image-upload  [max]="1"  [url]="'https://api.imgur.com/3/upload'"  [headers]="[{header: 'Authorization', value: 'Client-ID aab3505f42b5d63'}]"
          buttonCaption="Ticket Image"  dropBoxMessage="Drop image here"  (onFileUploadFinish)="ticketImageUpload($event, ticket4Name.value, ticket4Price.value)" [extensions]="['jpeg','png','jpg']"></image-upload>
        </div>
      </div><br>
      <!-- ticket type 4 end-->

      <!-- ticket type 5 -->
      <div class="row">
        <div class="input-field col s12 m4">
          <input placeholder="e.g. Table of 8" id="price" type="text" class="validate" name="ticket5_name" [(ngModel)]="ticket5_name" #ticket5Name>
        </div>
        <div class="input-field col s12 m4">
          <input placeholder='Ticket Price' id="ticket_price" type="text" class="validate" name="ticket5_price" [(ngModel)]="ticket5_price" #ticket5Price>
        </div>
        <div class="col s12 m4">
          <image-upload  [max]="1"  [url]="'https://api.imgur.com/3/upload'"  [headers]="[{header: 'Authorization', value: 'Client-ID aab3505f42b5d63'}]"
          buttonCaption="Ticket Image"  dropBoxMessage="Drop image here"  (onFileUploadFinish)="ticketImageUpload($event, ticket5Name.value, ticket5Price.value)" [extensions]="['jpeg','png','jpg']"></image-upload>
        </div>
      </div><br>
      <!-- ticket type 5 end-->

      <br><br>
      <div class="row">
        <div class="col s12 m12">
          <h5 align='center'>Event Design Image</h5>
          <image-upload  [max]="1"  [url]="'https://api.imgur.com/3/upload'"  [headers]="[{header: 'Authorization', value: 'Client-ID aab3505f42b5d63'}]"
          buttonCaption="Event Image"  dropBoxMessage="Drop image here"  (onFileUploadFinish)="eventImageUpload($event)" [extensions]="['jpeg','png','jpg']" #eventImg></image-upload>
        </div>
      </div>
      <br><br>
      <div class="row" align=center>
        <button type="submit" name="button" class="btn" [disabled]='isDisabled'>Create Event</button>
      </div>
      <br><br>
    </form>
  </div>
  <!-- form ends here -->



  <div class="col m6 s12">
    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]='17' [minZoom]='15'>
      <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
    </agm-map>
  </div>

</div>
