.body{
  min-height: 100vh;
  padding-bottom: 70px;
}

label{
  font-size: 12px !important;
}

agm-map {
  height: 100vh;
}

/deep/ image-upload label.upload.button {
  background-color: #24242e;
  text-transform: lowercase;
  font-weight: normal;
  padding: 6px;
  border-radius: 3px;
  font-family: 'avenirNextCondensed';
}

/deep/ image-upload label.clear span{
  text-transform: lowercase;
  font-weight: normal;
  background-color: #d32f2f;
}

/deep/ image-upload label.clear.button{
  background-color: #d32f2f;
  border-radius: 3px;
  padding: 6px;
}

/deep/ image-upload div.image-container.hr-inline-group{
  background-color: #f8f8f8;
}
