<div class="row body">
  <div class="col m12 s12">
    <h5>Create Event</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <br>
  </div>

<!-- form starts here -->
  <div class="col m8 s12">
    <form class="col s12" (submit)="createEvent(eventDate.value, eventTime.value)" class="row" id="form" novalidate="">
      <div class="row">
        <div class="input-field col s12 m6">
          <input placeholder="Event Name" id="event_name" type="text" class="validate" name="event_name" [(ngModel)]="event_name">
        </div>
        <div class="input-field col s12 m6">
          <input placeholder='Event Location' id="event_location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="validate" name="event_location" [(ngModel)]="event_location" #search [formControl]="searchControl">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m6">
          <input id="event_date" placeholder='Date' type="text" class="datepicker" #eventDate name="event_date" [(ngModel)]="event_date">
        </div>
        <div class="input-field col s12 m6">
          <input id="event_time" placeholder="Time" type="text" class="timepicker" #eventTime name="event_time" [(ngModel)]="event_time">
        </div>
      </div>
      <div class="row"><br>
        <div class="input-field col s12 m6">
          <input placeholder="Base Price &#8358;" id="price" type="text" class="validate"  name="base_price" [(ngModel)]="base_price">
        </div>
        <div class="input-field col s12 m6">
          <input placeholder="Contact Number" id="contact" type="text" class="validate"  name="contact" [(ngModel)]="contact">
        </div>
      </div>
      <br><br>
      <h5>Ticket Details</h5><br>

      <form [formGroup]="ticketForm" novalidate>
          <div formArrayName="tickets" class="row">
              <div *ngFor="let ticket of ticketForm.controls.tickets.controls; let i=index" class="row">
                  <div class="col m7" [formGroupName]="i">
                    <div class="col m6 s12">
                        <input type="text" formControlName="ticketName" placeholder="e.g. Regular, VIP">
                    </div>
                    <div class="col m6 s12">
                        <input type="text" formControlName="ticketPrice" placeholder='Ticket Price &#8358;'>
                    </div>
                  </div>
                  <div class="col m3 s10">
                    <image-upload  [max]="1" *ngIf="ticketForm.controls.tickets.controls[i].controls.ticketName.valid" [url]="'https://gatepassng.herokuapp.com/api/v1/image'"  [headers]="[{header: 'Authorization', value: 'Client-ID aab3505f42b5d63'}]"
                    buttonCaption="Ticket Image"  dropBoxMessage="Drop image here"  (onFileUploadFinish)="ticketImageUpload($event, i)" [extensions]="['jpeg','png','jpg']"></image-upload>
                  </div>
                  <div class="col m2 s2">
                      <a class="btn white-text btn-floating waves-effect waves-light" *ngIf="ticketForm.controls.tickets.controls.length > 1" (click)="removeTicket(i)"><i class="fa fa-trash"></i></a>
                  </div>
              </div>
          </div>
          <div class="col">
              <a style="float: left" (click)="addTicket()"><h6>Add another ticket <i class="fa fa-plus"></i></h6></a>
          </div>
      </form>



      <br><br>
      <div class="row">
        <div class="col s12 m12">
          <h5 align='center'>Event Design Image</h5>
          <image-upload  [max]="1"  [url]="'https://gatepassng.herokuapp.com/api/v1/image'"  [headers]="[{header: 'Authorization', value: 'Client-ID aab3505f42b5d63'}]"
          buttonCaption="Event Image"  dropBoxMessage="Drop image here"  (onFileUploadFinish)="eventImageUpload($event)" [extensions]="['jpeg','png','jpg']" #eventImg></image-upload>
        </div>
      </div>
      <br><br>
      <div class="row" align=center>
        <button type="submit" name="button" class="btn" [disabled]='isDisabled'>Create Event</button>
      </div>
      <br><br>
    </form>
  </div>
  <!-- form ends here -->


<!-- map here -->
  <div class="col m4 s12">
    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]='17' [minZoom]='15'>
      <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
    </agm-map>
  </div>

</div>
<!-- map ends here -->
