.body{
  min-height: 100vh;
  padding-bottom: 70px;
}

label{
  font-size: 12px !important;
}

agm-map {
  height: 100vh;
}

/deep/ image-upload label.upload.button {
  background-color: #24242e;
  text-transform: lowercase;
  font-weight: normal;
  padding: 6px;
  border-radius: 3px;
  font-family: 'avenirNextCondensed';
}
