<div class="registerBody" id='registerBody' [ngStyle]="{'background-image': 'url(' + image + ')'}">
  <div class="row">

    <div class="col m2 s1"></div>
    <div class="col m4 transparent">
      <div align='left'>
        <h4>Already have an <br> account?</h4>
        <a routerLink='/login'><button style="background-color: #25252E !important" type="button" name="button" class="transparent-btn btn">Login</button></a>
        <p>Read the terms and conditions for this platform <br><a routerLink='/privacy'>here</a></p>
        <p><b>Note:</b> Registering, means you have agreed to our <a routerLink='/privacy'>Terms &amp; Conditions</a></p>
      </div>
    </div>
    <div class="form col m4 s10 row" align="center">
    	<form class="row" id="form" (submit)="onRegisterSubmit()" novalidate="">
    		<h4>Register</h4>
            <div class="input-field col s12">
              <input [(ngModel)]="fullname"  placeholder="Fullname" id="fullname" type="text" class="validate" name="fullname">
            </div>
            <div class="input-field col s12">
              <input [(ngModel)]="username"  placeholder="Username" id="username" type="text" class="validate" name="username">
            </div>
            <div class="input-field col s12">
              <input [(ngModel)]="phone"  placeholder="Phone" id="phone" type="text" class="validate" name="phone">
            </div>
            <div class="input-field col s12">
              <input [(ngModel)]="email"  placeholder="E-mail" id="email" type="email" class="validate" name="email">
            </div>
            <div class="input-field col s12">
              <input [(ngModel)]="password"  placeholder='Password' id="password" type="password" class="validate" name="password">
            </div>
            <button type="submit" name="button" class="btn waves-effect waves-light" [disabled]='isDisabled'>Register</button>
            <div class="progress" *ngIf='isDisabled'>
                <div class="indeterminate"></div>
            </div>

            <h5 class="small">Already have an account? <a routerLink='/login'>Login</a></h5>
    	</form>
    </div>
    <div class="col m2 s1"></div>

  </div>
</div>
