<div class="body">
  <nav class="white" role="navigation" id="topOfPage">
    <div class="nav-wrapper container">
      <a id="logo-container" routerLink='/index' class="brand-logo"><!-- <img src="{{logo}}"> --><h4 style="color: #24242e; font-weight: bold;">Gatepass</h4></a>
      <ul class="right hide-on-med-and-down">
        <li><a *ngIf="!_auth.loggedIn()" routerLink='/register' routerLinkActive='active'>Get Started</a></li>
        <li><a *ngIf="_auth.loggedIn()" routerLink='/events' routerLinkActive='active'>Events</a></li>
        <li><a *ngIf="_auth.loggedIn()" routerLink='/create-event' routerLinkActive='active'>Create Event</a></li>
        <li><a *ngIf="_auth.loggedIn()" routerLink='/profile' routerLinkActive='active'>Profile</a></li>
        <li><a *ngIf="_auth.loggedIn()" (click)='logOut()'>Logout</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a *ngIf="!_auth.loggedIn()" routerLink='/register' routerLinkActive='active'>Get Started <i class="fa fa-sign-in"></i></a></li>
        <li><a *ngIf="_auth.loggedIn()" routerLink='/events' routerLinkActive='active'>Events <i class="fa fa-ticket"></i></a></li>
        <li><a *ngIf="_auth.loggedIn()" routerLink='/create-event' routerLinkActive='active'>Create Event <i class="fa fa-calendar"></i></a></li>
        <li><a *ngIf="_auth.loggedIn()" routerLink='/profile' routerLinkActive='active'>Profile <i class="fa fa-user"></i></a></li>
        <li><a *ngIf="_auth.loggedIn()" (click)='logOut()'>Logout <i class="fa fa-power-off"></i></a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse white-text"><i class="fa fa-bars primary-base-text"></i></a>
    </div>
  </nav>
</div>
