.body{
  min-width: 100% !important;
  min-height: 100% !important;
}

div .container a img{
  width: 210px !important;
  height: 55px !important;

}

@media only screen and (max-width: 400px) {
  div .container a img{
    width: 150px !important;
    height: 50px !important;

  }
}
