.fa-angle-double-up {
  padding: 10px 15px !important;
  color: #fff;
  border: 1px solid #ccc !important;
  background:rgba(0,0,0,0.4) !important;
  font-size:1.6em !important;
  transition: all 0.5s;
}

.fa-angle-double-up:hover{
  background:rgba(0,0,0,0.7);
  box-shadow:2px 1px 2px 2px rgba(0,0,0,0.3);
}

.footer-copyright{
	 position: absolute;
	 bottom: 0;
	 right: 0;
}

footer{
	position: relative;
}