<div class="col s12 m12 center heading">
	<h1>Frequently Asked Questions</h1>
</div>


<div class="case row col s12 m12">
	<div class="row col s12 m12">
		<ul class="collapsible popout" data-collapsible="accordion">
		    <li>
		      <div class="collapsible-header"><i class="fa fa-question-circle"></i> Do I need to register to use Gatepass?</div>
		      <div class="collapsible-body"><span>Yes.</span></div>
		    </li>
		    <li>
		      <div class="collapsible-header"><i class="fa fa-question-circle"></i> Can I buy tickets on the Gatepass website?</div>
		      <div class="collapsible-body"><span>No. Tickets can only be bought through our mobile platforms.</span></div>
		    </li>
		    <li>
		      <div class="collapsible-header"><i class="fa fa-question-circle"></i> How long will the ticket bought on Gatepass be valid?</div>
		      <div class="collapsible-body"><span>Until the day or time after the event.</span></div>
		    </li>
		    <li>
		      <div class="collapsible-header"><i class="fa fa-question-circle"></i> How much will I be charged to use Gatepass as an organiser?</div>
		      <div class="collapsible-body"><span>10% of total ticket sales.</span></div>
		    </li>
		    <li>
		      <div class="collapsible-header"><i class="fa fa-question-circle"></i> How many tickets can I buy with Gatepass?</div>
		      <div class="collapsible-body"><span>As many as are available.</span></div>
		    </li>
		    <li>
		      <div class="collapsible-header"><i class="fa fa-question-circle"></i> I checked myself in by accident. Can I undo or uncheck it?</div>
		      <div class="collapsible-body"><span>No. Gatepass is not responsible for tickets that are checked-in by unauthorized personnel.</span></div>
		    </li>
		    <li>
		      <div class="collapsible-header"><i class="fa fa-question-circle"></i> If I logout, will I still have my online tickets?</div>
		      <div class="collapsible-body"><span>Yes.</span></div>
		    </li>
		    <li>
		      <div class="collapsible-header"><i class="fa fa-question-circle"></i> If I logout, will I still have my offline tickets?</div>
		      <div class="collapsible-body"><span>No. All offline tickets are cleared when you logout.</span></div>
		    </li>
		    <li>
		      <div class="collapsible-header"><i class="fa fa-question-circle"></i> Will I be charged extra during ticket purchase?</div>
		      <div class="collapsible-body"><span>No. We charge only the exact price of the ticket.</span></div>
		    </li>
		    <li>
		      <div class="collapsible-header"><i class="fa fa-question-circle"></i> How can I get a refund on tickets bought using Gatepass?</div>
		      <div class="collapsible-body"><span>No. Tickets are non-refundable but transferable.</span></div>
		    </li>
		    <li>
		      <div class="collapsible-header"><i class="fa fa-question-circle"></i> Will I be charged for transferring tickets?</div>
		      <div class="collapsible-body"><span>No. Transferring or sharing tickets on Gatepass is absolutely free.</span></div>
		    </li>
		</ul>
	</div>
	<div class="row col s12 m12 center">
		<h4>Still in doubt? Feel free to contact us</h4>
		<h6>support@gatepassng.com</h6>
	</div>
</div>