<div class="body">
	<div id="particles">
		<div class="fill-particles col s12 m12 wow fadeInRight" data-wow-duration="1.5s" data-wow-delay="1s" data-wow-offset='0'></div>
		
		<div class="row mobile-apps">
			<div class="col s12 m3"></div>
			<div class="col s6 m3">
				<a href="https://play.google.com/store/apps/details?id=com.gatepassng.gatepass&hl=en" target="_blank">
					<img src="{{playstore}}" class="app wow slideInUp" data-wow-duration="1.5s" data-wow-delay="3s" data-wow-offset='0'>
				</a>
			</div>
			<div class="col s6 m3">
				<a href="https://itunes.apple.com/us/app/gatepass-oya-enter/id1299491874?mt=8&ign-mpt=uo%3D4" target="_blank">
					<img src="{{appstore}}" class="app wow slideInUp" data-wow-duration="1.5s" data-wow-delay="3s" data-wow-offset='0'>
				</a>
			</div>
			<div class="col s12 m3"></div>
			<br><br>
			<div class="col s12 m12">
				<a pageScroll href="#here" class="white-text"><i class="fa fa-angle-double-down animated infinite bounce"></i></a>
				<br><br>
			</div>
		</div>
	
	</div>

	<div class="row col s12 m12 center" style="height: 200px; padding-top: 90px">
	    <h5>
	    	<span class="col s12 m3"></span>
	    	<span class="col s12 m3"  style="padding-top: 10px">Not an organizer? &nbsp;Get the app</span>
		    <span class="col s12 m2">
		    	<a target="_blank" href="https://play.google.com/store/apps/details?id=com.gatepassng.gatepass&hl=en" class="btn-floating btn-large waves-effect waves-light"><i class="fa fa-android"></i></a>
		    	<a target="_blank" href="https://itunes.apple.com/us/app/gatepass-oya-enter/id1299491874?mt=8&ign-mpt=uo%3D4" class="btn-floating btn-large waves-effect waves-light"><i class="fa fa-apple"></i></a>
		    </span>
		    <span class="col s12 m4"></span>
		</h5>
	</div>

	<div class="row" id="here" style="padding-top: 40px">

	  <div class="col s1 m1"></div>
	  <div class="col s12 m9 row">
	  	<div class="col s12 m6 slider-box">
	  		<div class="carousel carousel-slider center" data-indicators="true">
			    <div class="carousel-item" href="#one!">
			        <h4>More reach, less stress. </h4>
				    <p>Amongst our thousands of app users, who needs to pay for ads? Oh wait, still you 😜. But guess what, it’s way less.
				    </p>
			    </div>
			    <div class="carousel-item" href="#two!">
			      <h4>Your event can totally be cooler.</h4>
				    <p>Your audience can now share &amp; save tickets offline. Plus who uses printed tickets anymore? 🤷🏾‍
				    </p>
			    </div>
			    <div class="carousel-item" href="#three!">
			      <h4>We’re obedient 🤗</h4>
				    <p>“Don’t find customers for your products, find products for your customers.” – Seth Godin.
				    </p>
			    </div>
			</div>
			<button class="btn white prev"><i class="fa fa-chevron-left"></i></button>
			<button class="btn white next"><i class="fa fa-chevron-right"></i></button>
			
		</div>
		<div class="col s12 m6" style="position: relative;">
			<img src="{{app}}">
		</div>

		<hr>
	  </div>
	  <div class="col s12 m2"></div>

	  

	</div>

	
	<div class="row different">
		<h3>How it works</h3>
		<div class="row">
			<div class="col s12 m2 features">
				<div class="image">
					<h4><i class="fa fa-sign-in"></i></h4>
					<h5>Register</h5>
					<p>Here’s where we get to know you &amp; what you do. <br>We love to meet new people.</p>
				</div>
			</div>
			<div class="col s12 m1"></div>
			<div class="col s12 m2 features">
				<div class="image">
					<h4><i class="fa fa-calendar"></i></h4>
					<h5>Create Event</h5>
					<p>When &amp; where's your event? <br>We’re great at saving the date.</p>
				</div>
			</div>
			<div class="col s12 m1"></div>
			<div class="col s12 m2 features">
				<div class="image">
					<h4><i class="fa fa-ticket"></i></h4>
					<h5>Sell Tickets</h5>
					<p>What types of tickets are you selling? Payment? <br>We’d sort that out.</p>
				</div>
			</div>
			<div class="col s12 m1"></div>
			<div class="col s12 m2 features">
				<div class="image">
					<h4><i class="fa fa-line-chart"></i></h4>
					<h5>View Sales</h5>
					<p>Monitor your ticket sales &amp; manage event capacity. <br>Yeah, we do that too.</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col s12 m1"></div>
			<div class="col s12 m2 features">
				<div class="image">
					<h4><i class="fa fa-clock-o"></i></h4>
					<h5>After Event</h5>
					<p>When it's all said &amp; done...</p>
				</div>
			</div>
			<div class="col s12 m1"></div>
			<div class="col s12 m2 features">
				<div class="image">
					<h4><i class="fa fa-money"></i></h4>
					<h5>Cash Out</h5>
					<p>It's your money afterall.<br> Here you go.</p>
				</div>
			</div>
			<div class="col s12 m1"></div>
			<div class="col s12 m2 features">
				<div class="image">
					<h4><i class="fa fa-smile-o"></i></h4>
					<h5>Happy Customer</h5>
					<p>It's been a pleasure doing business with you.</p>
				</div>
			</div>


		</div>
	</div>

	<div class="divThree row">
	    <br><br><br><br><br>
	    <div class="col s12 m12">
	    	<h5>Are you an event organizer?</h5>
	    	<a routerLink='/login'><button type="button" name="button" class="btn-large getStarted waves-effect waves-light">Get Started</button></a>
	    </div>
	</div>


</div>