.body{
  min-height: 100vh !important;
  background-color: #fafafa;
}

h1, h2, h3, h4, h5, p{
  text-align: center;
}

div{
  margin: auto !important;
  text-align: center;
}

.app{
  width: 185px;
  height: 60px;
}

.divThree{
   height: 700px;
 }
 
 .fa{
  font-size: inherit !important;
 }

 .diff{
  background-color: #ffffff;
  box-shadow: 0 3px 12px -2px rgba(0, 0, 0, 0.08);
 }

 .different .row{
  padding-left: 80px !important;
 }

#particles-js{
  width: 100%;
  min-height: 100vh !important;
  background-color: #24242e;
  background-image: url('../../../assets/img/landing-background.png');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin: auto;
  position: relative;
}

.mobile-apps{
  position: absolute;
  bottom: 0;
  width: inherit;
}

.fa-angle-double-down{
  font-size: 40px !important;
}

@media only screen and (max-width: 1200px) {
    .ribbon {
        width: 100%;
    }
    h3{
      font-size: 36px;
    }
    p{
      font-size: 18px;
    }
    #particles-js{
      height: 50vh !important;
      width: 100vw !important;
    }
    .divThree{
      height: 450px;
    }
    .different .row{
      padding-left: 0 !important;
    }
    .different .row .col{
      padding: 10px;
    }
}

@media only screen and (max-width: 450px) {
  .app{
    width: 80px;
    height: 35px;
  }
  #particles-js{
  width: 100%;
  min-height: 500px !important;
  }
}
