#sliderDiv{
  height: 600px;
  padding-top: 50px;
  color: #ffffff;
}

#divThree{
  height: 700px;
}

h1, h2, h3, h4, h5, p{
  text-align: center;
}
div{
  margin: auto !important;
  text-align: center;
}

@media only screen and (max-width: 1200px) {
    .ribbon {
        width: 100%;
    }
    #divThree{
      height: 450px;
    }
    h3{
      font-size: 36px;
    }
    p{
      font-size: 18px;
    }
}

.carousel.carousel-slider .carousel-item{
  height: 400px !important;
}

.carousel .carousel-slider .initialized{
  height: 400px !important;
}
