.body{
  min-height: 100vh !important;
  background-color: #fafafa;
}

h1, h2, h3, h4, h5, p{
  text-align: center;
}

*{
  color: #24242e;
}

div{
  margin: auto !important;
  text-align: center;
}

.app{
  width: 185px;
  height: 60px;
}

.divThree{
   height: 700px;
 }
 
.fa{
  font-size: inherit !important;
}

.features{
  background-color: #ffffff;
  box-shadow: 0 3px 12px -2px rgba(0, 0, 0, 0.5);
}

.different .row{
  padding-left: 80px !important;
}

.different .row .col{
  padding: 0 !important;
}

#particles{
  width: 100%;
  height: 80vh;
  background-color: #24242e;
  margin: auto;
  position: relative;
}

.fill-particles{
  width: 100%;
  height: 70vh;
  background-image: url('../../../assets/img/landing-background.png');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
}

.mobile-apps{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.fa-angle-double-down{
  font-size: 40px !important;
  color: #ffffff !important;
}

a button{
  color: #ffffff !important;
}

@media only screen and (max-width: 1200px) {
    .ribbon {
        width: 100%;
    }
    h3{
      font-size: 36px;
    }
    p{
      font-size: 18px;
    }
    #particles-js{
      height: 70vh !important;
      width: 100vw !important;
    }
    .divThree{
      height: 450px;
    }
    .different .row{
      padding-left: 60px !important;
    }
}

@media only screen and (max-width: 450px) {
  .app{
    width: 80px;
    height: 35px;
  }
  #particles-js{
    width: 100vw !important;
    height: 50vh !important;
  }
  .different .row{
   padding-left: 0 !important;
  }
}

.features *{
    transition: all 700ms ease;
    -webkit-transition: all 700ms ease;
    -ms-transition: all 700ms ease;
    -o-transition: all 700ms ease;
    -moz-transition: all 700ms ease; 
}

.features .image{
    position: relative;
    overflow: hidden;
}

.features .image .overlay{
    position: absolute;
    left: 0px;
    bottom: 100%;
    width: 100%;
    height: 100%;
    background: #24242e;
    transform: scale(0,0);
    -webkit-transform: scale(0,0);
    -o-transform: scale(0,0);
    -moz-transform: scale(0,0);
    -ms-transform: scale(0,0);
}

.features:hover .image .overlay{
    bottom: 0%;
    transform: scale(1,1);
    -webkit-transform: scale(1,1);
    -o-transform: scale(1,1);
    -moz-transform: scale(1,1);
    -ms-transform: scale(1,1);
}

.features:hover .image .overlay p {
  color: #ffffff !important;
}